@font-face {
font-family: concourse-8-tab-caps;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/concourse-8-tab-caps/concourse-8-tab-caps-regular.woff2') format('woff2');
}
