@font-face {
font-family: concourse-4-caps;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/concourse-4-caps/concourse-4-caps-regular.woff2') format('woff2');
}

@font-face {
font-family: concourse-4-caps;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: swap;
src: url('/fonts/concourse-4-caps/concourse-4-caps-bold.woff2') format('woff2');
}
