@font-face {
font-family: equity-b-tab;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/equity-b-tab/equity-b-tab-regular.woff2') format('woff2');
}

@font-face {
font-family: equity-b-tab;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/equity-b-tab/equity-b-tab-italic.woff2') format('woff2');
}

@font-face {
font-family: equity-b-tab;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: swap;
src: url('/fonts/equity-b-tab/equity-b-tab-bold.woff2') format('woff2');
}

@font-face {
font-family: equity-b-tab;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: swap;
src: url('/fonts/equity-b-tab/equity-b-tab-bold-italic.woff2') format('woff2');
}
