@font-face {
font-family: equity-a-tab-caps;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/equity-a-tab-caps/equity-a-tab-caps-regular.woff2') format('woff2');
}

@font-face {
font-family: equity-a-tab-caps;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: swap;
src: url('/fonts/equity-a-tab-caps/equity-a-tab-caps-bold.woff2') format('woff2');
}
