@font-face {
font-family: equity-ot-a;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/equity-ot/equity-ot-a-regular.woff2') format('woff2');
}

@font-face {
font-family: equity-ot-a;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/equity-ot/equity-ot-a-italic.woff2') format('woff2');
}

@font-face {
font-family: equity-ot-a;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: swap;
src: url('/fonts/equity-ot/equity-ot-a-bold.woff2') format('woff2');
}

@font-face {
font-family: equity-ot-a;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: swap;
src: url('/fonts/equity-ot/equity-ot-a-bold-italic.woff2') format('woff2');
}

@font-face {
font-family: equity-ot-b;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/equity-ot/equity-ot-b-regular.woff2') format('woff2');
}

@font-face {
font-family: equity-ot-b;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/equity-ot/equity-ot-b-italic.woff2') format('woff2');
}

@font-face {
font-family: equity-ot-b;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: swap;
src: url('/fonts/equity-ot/equity-ot-b-bold.woff2') format('woff2');
}

@font-face {
font-family: equity-ot-b;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: swap;
src: url('/fonts/equity-ot/equity-ot-b-bold-italic.woff2') format('woff2');
}
