@font-face {
font-family: heliotrope-8-caps;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/heliotrope-8-caps/heliotrope-8-caps-regular.woff2') format('woff2');
}
