@font-face {
font-family: heliotrope-6-tab-caps;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/heliotrope-6-tab-caps/heliotrope-6-tab-caps-regular.woff2') format('woff2');
}
