@font-face {
font-family: heliotrope-3-tab;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/heliotrope-3-tab/heliotrope-3-tab-regular.woff2') format('woff2');
}

@font-face {
font-family: heliotrope-3-tab;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/heliotrope-3-tab/heliotrope-3-tab-italic.woff2') format('woff2');
}

@font-face {
font-family: heliotrope-3-tab;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: swap;
src: url('/fonts/heliotrope-3-tab/heliotrope-3-tab-bold.woff2') format('woff2');
}

@font-face {
font-family: heliotrope-3-tab;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: swap;
src: url('/fonts/heliotrope-3-tab/heliotrope-3-tab-bold-italic.woff2') format('woff2');
}
