@font-face {
font-family: heliotrope-3;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/heliotrope-3/heliotrope-3-regular.woff2') format('woff2');
}

@font-face {
font-family: heliotrope-3;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/heliotrope-3/heliotrope-3-italic.woff2') format('woff2');
}

@font-face {
font-family: heliotrope-3;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: swap;
src: url('/fonts/heliotrope-3/heliotrope-3-bold.woff2') format('woff2');
}

@font-face {
font-family: heliotrope-3;
font-style: italic;
font-weight: bold;
font-stretch: normal;
font-display: swap;
src: url('/fonts/heliotrope-3/heliotrope-3-bold-italic.woff2') format('woff2');
}
