@font-face {
font-family: hermes-maia-6;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/hermes-maia-6/hermes-maia-6-regular.woff2') format('woff2');
}

@font-face {
font-family: hermes-maia-6;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/hermes-maia-6/hermes-maia-6-italic.woff2') format('woff2');
}
