@font-face {
font-family: hermes-maia-8-tab;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/hermes-maia-8-tab/hermes-maia-8-tab-regular.woff2') format('woff2');
}

@font-face {
font-family: hermes-maia-8-tab;
font-style: italic;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/hermes-maia-8-tab/hermes-maia-8-tab-italic.woff2') format('woff2');
}
