@font-face {
font-family: hermes-maia-7-tab-caps;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/hermes-maia-7-tab-caps/hermes-maia-7-tab-caps-regular.woff2') format('woff2');
}
