@font-face {
font-family: triplicate-a-caps;
font-style: normal;
font-weight: normal;
font-stretch: normal;
font-display: swap;
src: url('/fonts/triplicate-a-caps/triplicate-a-caps-regular.woff2') format('woff2');
}

@font-face {
font-family: triplicate-a-caps;
font-style: normal;
font-weight: bold;
font-stretch: normal;
font-display: swap;
src: url('/fonts/triplicate-a-caps/triplicate-a-caps-bold.woff2') format('woff2');
}
