---
layout: layouts/base
permalink: 404.html
---

<div class="flex justify-center mb-12">
    <h1 class="bg-gradient-to-tr from-red-300 to-blue-400 bg-clip-text text-transparent font-bold text-center text-3xl sm:text-4xl">
        four-oh-four
        <br class="sm:hidden" />
        not found
    </h1>
</div>

<div class="space-y-4">
    <p>
        There’s nothing on this page.
    </p>
    <p>
        If you clicked a link and expected something to be here, I’d <em>really really</em>
        appreciate it if you sent me a quick email to let me know — <a href="mailto:{{ email }}" class="text-blue-600 font-medium underline">{{ email }}</a>.
    </p>
</div>
