---
layout: layouts/base
title: Archive
---

{% set heading = 'Archive' %}
{% include 'heading.njk' %}

<div class="space-y-4">
    {% for post in collections.all | reverse %}
        {% if post.url.startsWith('/post') %}
            {% include 'post-item.njk' %}
        {% endif %}
    {% endfor %}
</div>
