---
layout: layouts/base
---

<div class="space-y-12">
    <div class="bg-gradient-to-tr from-red-300 to-blue-400 rounded-xl text-white font-semibold p-3 sm:p-4 space-y-4">
        <p>
            Hi! I’m Ben Borgers. I’m a high school senior in Boston, and interned at IBM last summer.
            Next fall, I’m headed to Tufts University to study computer science.
        </p>

        <p>
            I’m on <a href="https://twitter.com/benborgers" class="underline">twitter</a> and <a href="https://github.com/benborgers" class="underline">github</a>.
            If you wanna get in touch, I love getting emails: <a href="mailto:{{ email }}" class="underline">{{ email }}</a>
        </p>
    </div>

    {% for type, projectsOfType in projects %}
        <div>
            <h2 class="text-xl text-gray-900 font-serif font-semibold mb-4">{{ type }}</h2>
            <div class="space-y-4">
                {% for project in projectsOfType %}
                    <div class="bg-gray-100 p-3 sm:p-4 rounded-lg space-y-1">
                        <p class="font-bold">{{ project.name }}</p>
                        <p class="text-gray-600">{{ project.description }}</p>
                        {% if project.link %}
                            <a href="https://{{ project.link }}" class="inline-block">
                                <div class="text-gray-400 hover:text-gray-500 duration-100 transition-colors flex space-x-1 items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-4    ">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
                                    </svg>
                                    <p class="text-sm font-medium">{{ project.link }}</p>
                                </div>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
