---
title: Non-programming posts
layout: layouts/base
---

{% include 'heading.njk' %}

<div class="space-y-4">
    {% for post in collections.nonProgrammingPosts | reverse %}
        {% include 'post-item.njk' %}
    {% endfor %}
</div>
