@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix Tailwind making fraction line very light */
.katex .frac-line {
    @apply border-gray-700;
}

/* Profile picture on home page */
[data-slug="index"] img {
    @apply h-24 rounded-full;
}

.callout {
    grid-template-columns: 20px 1fr;
    grid-column-gap: 12px;
    @apply grid rounded-md p-4;
}

.callout > img,
.callout > p {
    margin: 0 !important;
}

.callout > img {
    margin-top: 0.25rem !important;
}

.color-gray, .color-gray * { @apply text-gray-400 }
.color-brown, .color-brown * { color: rgb(100,71,58) }
.color-orange, .color-orange * { color: rgb(217,115,13) }
.color-yellow, .color-yellow * { color: rgb(223,171,1) }
.color-green, .color-green * { color: rgb(15,123,108) }
.color-blue, .color-blue * { color: rgb(11,110,153) }
.color-purple, .color-purple * { color: rgb(105,64,165) }
.color-pink, .color-pink * { color: rgb(173,26,114) }
.color-red, .color-red * { color: rgb(224,62,62) }

.background-gray { @apply bg-gray-200 }
.background-brown { background-color: rgb(233,229,227) }
.background-orange { background-color: rgb(250,235,221) }
.background-yellow { background-color: rgb(251,243,219) }
.background-green { background-color: rgb(221,237,234) }
.background-blue { background-color: rgb(221,235,241) }
.background-purple { background-color: rgb(234,228,242) }
.background-pink { background-color: rgb(244,223,235) }
.background-red { background-color: rgb(251,228,228) }
