---
layout: layouts/base
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
eleventyComputed:
    title: Posts tagged “{{ tag }}”
---

<ul>
    {% for post in collections[tag] | reverse %}
        <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
    {% endfor %}
</ul>
