---
layout: layouts/base.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
eleventyComputed:
    title: posts tagged “{{ tag }}”
---

<ul>
    {% for post in collections[ tag ] | reverse %}
        {% if not post.url.match('/tags') and not post.url.match('/.netlify') %}
            <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
