---
import Layout from "../../layouts/Layout.astro";
import { getPosts } from "../../lib/blog";

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<Layout title={post.title}>
  <div class="pt-12">
    <h1 class="text-gray-900 font-width-5 font-bold text-3xl sm:text-4xl">
      {post.title}
    </h1>
    <p class="mt-1 text-right font-width-3 font-medium text-gray-400">
      {post.date.toFormat("LLLL d, yyyy")}
    </p>
  </div>

  <div
    class:list={[
      "mt-8",
      "prose sm:prose-lg max-w-none",
      "prose-em:not-italic prose-em:font-slant-10 prose-blockquote:not-italic prose-blockquote:font-slant-10",
    ]}
  >
    {post.component ? <post.component /> : <Fragment set:html={post.html} />}
  </div>
</Layout>
