---
import Layout from "../../layouts/Layout.astro";
import { getPosts } from "../../lib/blog";

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<Layout title={post.title}>
  <div class="h-6"></div>
  <h1 class="mt-2 text-gray-800 font-width-6 font-bold text-3xl">
    {post.title}
  </h1>

  <div>
    {post.component ? <post.component /> : <Fragment set:html={post.html} />}
  </div>
</Layout>
