---
import ghost from '../../lib/ghost'

export async function getStaticPaths() {
  const posts = Astro.fetchContent('../../../posts/*.md')

  const localPosts = posts
    .map(post => {
      const slug = post.file.pathname
        .replace('/posts/', '')
        .replace('.md', '')

      return {
        params: { slug },
        props: {
          post: {
            title: post.title,
            date: post.date,
            html: post.content.html
          }
        }
      }
    })

  const ghostPosts = (await ghost('posts')).posts
    .map(post => {
      return {
        params: { slug: post.slug },
        props: {
          post: {
            title: post.title,
            date: post.published_at,
            html: post.html
          }
        }
      }
    })

  return [...localPosts, ...ghostPosts]
}

const { post } = Astro.props
---

<h1>{post.title}</h1>
<p>{
  new Date(post.date).toLocaleString("en-US", {
    timeZone: "UTC",
    month: "long",
    day: "numeric",
    year: "numeric",
  })
}</p>

<div set:html={post.html} />
