---
import Base from '../../components/Base.astro'
import BlogLayout from '../../components/BlogLayout.astro'
import { allBlogPosts } from '../../lib/posts'

const posts =
  (await allBlogPosts(
    await Astro.glob('../../content/posts/**/*.md'),
    await Astro.glob('../../content/posts/ghost.json')
  ))
    // .filter(post => post.technical === false)
---

<Base title="Ben Borgers’ Blog">
<BlogLayout>
  <div class="space-y-1">
    {posts.map(post => (
    <a href={`/posts/${post.slug}`} class="block underline decoration-gray-300">
      {post.technical ? 'TECHNICAL:' : ''}
      {post.title}
      {post.date.toLocaleString('en-US', { timeZone: 'UTC' })}
    </a>
    ))}
  </div>
</BlogLayout>
</Base>
