---
import Base from '../../components/Base.astro'
import BlogLayout from '../../components/BlogLayout.astro'
import { CaretLeft } from 'phosphor-react'
import { allBlogPosts } from '../../lib/posts'

const posts =
  (await allBlogPosts(
    await Astro.glob('../../content/posts/**/*.md'),
    await Astro.glob('../../content/posts/ghost.json')
  ))
    .filter(post => post.technical === false)
---

<Base title="Ben Borgers’ Blog" bg="bg-zinc-50">
<BlogLayout>
  <script>
    if(new URLSearchParams(window.location.search).has('technical')) {
      window.location = '/technical-posts'
    }
  </script>

  <div class="mb-6">
    <a href="/"
      class="flex items-center gap-1.5 bg-rose-500 text-sm font-semibold text-white px-2.5 py-0.5 rounded-full max-w-max">
      <CaretLeft weight="bold" className="[&_polyline]:[stroke-width:36]" />
      <span>Ben Borgers</span>
    </a>
  </div>
  <div class="space-y-2">

    {posts.map((post, i) => (
    <>
      {(
      (i === 0) ||
      posts[i - 1].date.toFormat('LL yyyy') !== post.date.toFormat('LL yyyy')
      ) && (
      <h2 class="text-lg text-zinc-900 font-extrabold pt-8 first-of-type:pt-0">
        {post.date.toFormat('LLLL yyyy')}
      </h2>
      )}

      <div class="flex justify-between ml-4">
        <a href={`/posts/${post.slug}`} class="block underline decoration-zinc-300">
          {post.title}
        </a>
        <p class="text-zinc-400">
          {post.date.toFormat('LLLL d')}
        </p>
      </div>
    </>
    ))}
  </div>
</BlogLayout>
</Base></Base>
