---
import Layout from "../../layouts/Layout.astro";
import Newsletter from "../../components/Newsletter.astro";
import PostIndex from "../../components/PostIndex.astro";
import { getPosts } from "../../lib/blog";
import { ArrowUpRight } from "phosphor-react";

const posts = (await getPosts()).filter((post) => !post.technical);
---

<Layout title="Ben Borgers’ Blog">
  <Newsletter />

  <div class="mb-2 mt-6 flex justify-end">
    <a
      href="/rss.xml"
      target="_blank"
      class:list={[
        "text-gray-400 font-semibold text-sm font-width-3 hover:text-rose-500 transition-colors",
        "flex items-center gap-x-1",
      ]}
    >
      <span>RSS</span>
      <ArrowUpRight weight="bold" className="-mt-0.5" />
    </a>
  </div>

  <PostIndex posts={posts} />
</Layout>
