@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
