---
const { collection } = Astro.props

export async function createCollection() {
    const cars = [
        {
            slug: 'f',
            name: 'Ferrari'
        },
        {
            slug: 'l',
            name: 'Lamborghini'
        },
        {
            slug: 'p',
            name: 'Porsche'
        }
    ]

    return {
        routes: cars,
        permalink: ({ params }) => `/cars/${params.slug}`,
        async data({ params }) {
            if(! params.slug) return {}
            return cars.find(car => car.slug === params.slug)
        },
        pageSize: Infinity
    }
}
---

<link rel="stylesheet" href="/style/global.css" />
<p class="whitespace-pre-wrap font-mono">{JSON.stringify(collection, null, 2)}</p>
