---
import matter from 'gray-matter'
import { Markdown } from 'astro/components'
import Post from '../components/Post'
import loadObsidianPosts from '../lib/loadObsidianPosts'

export async function createCollection() {
    const obsidianPosts = await loadObsidianPosts()

    return {
        route: '/posts/:slug',
        paths: () => obsidianPosts.map(post => ({ params: post })),
        props: ({ params }) => {
            return {
                post: obsidianPosts.find(post => post.slug === params.slug)
            }
        }
    }
}

const { post } = Astro.props
---

<Post
    title={post.title}
    date={post.date}
>
    <div>
        <Markdown content={matter(post.body).content} />
    </div>
</Post>
