---
import Head from '../components/Head'
---

<Head title="Not Found" />

<div class="p-4 sm:p-6">
    <h1 class="text-gray-900 font-black text-2xl">whoops! page not found</h1>
    <div class="mt-3 space-y-2 max-w-md">
        <p>
            Sorry about that. You’ll probably be able to find this post in <a href="/posts" class="underline">the full list of my blog posts</a>.
        </p>
        <p class="text-gray-500 flex space-x-3">
            <span>&rarr;</span>
            <span>
                I’d really appreciate if you emailed me to let me know about this broken link: <a href="mailto:ben@elk.sh" class="underline" target="_blank">ben@elk.sh</a>
            </span>
        </p>
    </div>
</div>
