---
import Base from '../components/Base.astro'
---

<Base title="Page Not Found" bg="bg-neutral-200">
<div class="text-neutral-700 font-serif min-h-screen grid place-items-center p-4">
  <div class="bg-white p-4 mb-16 border border-neutral-700 [box-shadow:6px_6px_0_black]">
    <h1 class="text-lg font-bold tracking-tight">This page could not be found.</h1>
    <p class="mt-2 text-lg">
      Sorry about that! I’ve been notified and will fix this soon.
    </p>
    <p class="mt-2 text-lg text-right italic">
      <a href="/" class="underline decoration-neutral-400">head to Ben’s homepage &rarr;</a>
    </p>
  </div>
</div>

<script>
  fetch('https://neptune.ooo/report-ben-borgers-404', {
    method: 'POST',
    headers: { 'Content-Type': 'application/json' },
    body: JSON.stringify({
      path: window.location.pathname,
      referrer: document.referrer
    })
  })
</script>
</Base>
