---
import Prose from "../components/prose.astro";
import Layout from "../layouts/layout.astro";
---

<Layout title="Page not found">
  <div class="px-2">
    <Prose>
      <p>
        This page could not be found. Maybe try <a href="/">going home</a>?
      </p>
    </Prose>
  </div>
</Layout>
