---
import Head from '../components/Head'
---

<Head title="Not Found" />

<div class="p-4 sm:p-6">
    <h1 class="text-gray-900 font-black text-2xl">whoops! page not found</h1>
    <div class="mt-3 space-y-1 max-w-md">
        <p>
            I’d really appreciate if you emailed me to let me know about this broken link: <a href="mailto:ben@elk.sh" class="underline" target="_blank">ben@elk.sh</a>
        </p>
        <p class="text-gray-500">
            &rarr; <a href="/" class="underline">return to benborgers.com</a>
        </p>
    </div>
</div>
