---
import Layout from '../layouts/Layout.astro'
import Prose from '../components/Prose.astro'
import ghost from '../lib/ghost'

const data = await ghost('pages/slug/home')
const page = data.pages[0]
---

<Layout>
  <h1 class="text-lg font-black font-serif mb-2">Hi! I’m Ben Borgers.</h1>

  <Prose>
    <Fragment set:html={page.html} />
  </Prose>
</Layout>
