---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Post from "../components/post.astro";

const posts = (await getCollection("posts"))
  .filter((post) => !post.data.unlisted)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime());
---

<Layout title="Ben Borgers">
  <div class="space-y-4">
    {
      posts.map(async (post) => {
        return <Post post={post} preview />;
      })
    }
  </div>
</Layout>
