---
import Head from '../components/Head'
import WeatherEmoji from '../components/WeatherEmoji.jsx'
---

<Head />

<div class="p-6">
    <p class="text-4xl text-gray-900">
        I’m Ben Borgers, a developer from <WeatherEmoji:load className="inline-block w-9 h-auto mb-3" /> Boston, MA.
    </p>
</div>
