---
import Layout from "../layouts/Layout.astro";
import Post from "../components/post.astro";
import getPosts from "../lib/getPosts";

const posts = await getPosts({ includeUnlisted: false });
---

<Layout title="Ben Borgers">
  <div class="space-y-2 sm:space-y-4">
    {
      posts.map(async (post) => {
        return <Post post={post} preview />;
      })
    }
  </div>
</Layout>
