---
import Base from '../components/Base.astro'
import LoadAlpine from '../components/LoadAlpine.astro'
import Icon from '../components/Icon'
import { TwitterLogo, PaperPlaneTilt, ArrowDown, ArrowSquareOut, CalendarBlank } from 'phosphor-react'

const timelineEntries = (await Astro.glob('../content/timeline/*.mdx'))
  .sort((a, b) => new Date(a.frontmatter.date) > new Date(b.frontmatter.date) ? -1 : 1)
---

<Base title="Ben Borgers" bg="bg-neutral-50">
<LoadAlpine />
<div class="p-4 pb-36 pt-8 sm:pt-36">
  <div class="max-w-screen-sm mx-auto text-neutral-700">
    <div class="flex items-start gap-6">
      <img src="/me.jpg" class="h-16 rounded-full" />
      <div class="mt-2">
        <p class="font-semibold text-neutral-900 leading-none">Hi! I’m Ben Borgers.</p>
        <p class="mt-1 text-neutral-500">
          I’m a rising sophomore at Tufts University studying computer science.
        </p>
        <div class="mt-2 flex flex-wrap gap-x-2">
          <a href="https://twitter.com/benborgers" target="_blank" class="bg-sky-500 text-white text-sm font-semibold px-3 py-0.5 rounded-full flex items-center gap-2
            hover:ring-2 hover:ring-offset-2 hover:ring-sky-500 hover:ring-offset-neutral-50 transition-shadow">
            <TwitterLogo weight="fill" />
            <span>Twitter</span>
          </a>
          <a href="/contact" class="bg-rose-600 text-white text-sm font-semibold px-3 py-0.5 rounded-full flex items-center gap-2
            hover:ring-2 hover:ring-offset-2 hover:ring-rose-600 hover:ring-offset-neutral-50 transition-shadow">
            <PaperPlaneTilt weight="fill" />
            <span>Contact</span>
          </a>
        </div>
      </div>
    </div>

    <div x-data="{ expanded: false }" x-show="expanded" x-collapse.min.230px x-cloak class="
        mt-8 bg-neutral-200/50 p-4 rounded-xl
        overflow-hidden relative
        [&_a]:underline [&_a]:font-medium
      ">
      <div x-show="!expanded"
        class="h-1/2 absolute inset-x-0 bottom-0 bg-gradient-to-b from-neutral-200/0 to-neutral-200 pointer-events-none" />
      <button
        class="text-white bg-neutral-700 px-3 py-0.5 rounded-full absolute bottom-4 right-4 flex items-center gap-1 border-2 border-white transition-opacity"
        x-bind:class="{ 'opacity-0': expanded }" x-on:click="expanded = true">
        <span class=" text-sm font-semibold">See More</span>
        <ArrowDown weight="fill" />
      </button>

      <p class="font-semibold text-neutral-900">Work Experience</p>
      <ul class="mt-3 space-y-3 list-disc ml-6 text-neutral-600">
        <li>
          <p>
            Internship at <a href="https://lu.ma" class="text-[#de3163]" target="_blank">Luma</a> and <a
              href="https://glow.app" class="text-[#bb2dc7]" target="_blank">Glow</a> working on web apps and their
            Chrome extension.
          </p>
          <p class="text-neutral-400 italic text-sm font-medium">Summer 2022</p>
        </li>
        <li>
          <p>
            Freelance development in Vue for <a href="https://buttondown.email" class="text-[#0069ff]"
              target="_blank">Buttondown</a>, an email newsletter provider.
          </p>
          <p class="text-neutral-400 italic text-sm font-medium block">Summer 2021 - Present</p>
        </li>
        <li>
          <p>
            Website for <a href="https://uphamdesign.com" class="text-[#034f63]" target="_blank">Upham Design</a>, a
            creative collective
            run by a family friend.
          </p>
          <p class="text-neutral-400 italic text-sm font-medium block">Fall 2021 - present</p>
        </li>
        <li>
          <p>
            Wrote a bit of code that powered TV graphics for STU National Championships, a Brazilian
            skateboarding championship.
          </p>
          <p class="text-neutral-400 italic text-sm font-medium block">Winter 2021</p>
        </li>
        <li>
          <p>
            Developed a course registration and management app in Laravel for <a href="https://diyiboston.com"
              class="text-[#5850ec]" target="_blank">Diyi</a>, an online school based in the Boston area.
          </p>
          <p class="text-neutral-400 italic text-sm font-medium block">Summer 2020</p>
        </li>
        <li>
          <p>Interned at
            <a href="https://www.ibm.com/products/guardium-insights" class="text-[#0031b4]" target="_blank">
              IBM Security</a>
            for two summers,
            working on a new security offering for enterprise.
          </p>
          <p class="text-neutral-400 italic text-sm font-medium">Summer 2019, Summer 2020</p>
        </li>
        <li>
          <p>
            Full-stack development using React and Node.js for <a href="https://rep.ly" class="text-neutral-900"
              target="_blank">Rep.ly</a>.
          </p>
          <p class="text-neutral-400 italic text-sm font-medium">Summer 2020</p>
        </li>
      </ul>
    </div>

    <div class="mt-12 grid grid-cols-2 gap-3">
      <a href="/posts"
        class="bg-rose-600 hover:ring-2 hover:ring-offset-2 hover:ring-rose-600 hover:ring-offset-neutral-50 transition-shadow p-3 rounded-xl flex items-start gap-2">
        <div class="mt-px">
          <ArrowSquareOut weight="bold" className="text-white" />
        </div>
        <div>
          <p class="text-white font-bold text-sm">180 Daily Blog Posts</p>
          <p class="mt-1 text-white/70 text-sm font-medium leading-tight">
            As an experiment, I wrote a blog post every day and stopped after 180 days.
          </p>
        </div>
      </a>
      <a href="https://bite.guide" target="_blank"
        class="bg-emerald-900 hover:ring-2 hover:ring-offset-2 hover:ring-emerald-900 hover:ring-offset-neutral-50 transition-shadow p-3 rounded-xl flex items-start gap-2">
        <div class="mt-px">
          <ArrowSquareOut weight="bold" className="text-white" />
        </div>
        <div>
          <p class="text-white font-bold text-sm">Bite</p>
          <p class="mt-1 text-white/70 text-sm font-medium leading-tight">
            A site where my girlfriend and I review restaurants and things to do.
          </p>
        </div>
      </a>
    </div>

    <div class="mt-6 space-y-11">
      {timelineEntries.map((entry, i) => (
      <div class="grid grid-cols-[max-content,1fr] gap-x-4">
        <div>
          <div class="h-7 w-7 bg-neutral-200 rounded-full flex items-center justify-center">
            <CalendarBlank weight="bold" className="text-neutral-600" />
          </div>
          {i !== timelineEntries.length -1 && (
          <div class="border-l border-neutral-200 border-dashed h-full mt-2 ml-[calc(0.875rem-0.5px)]" />
          )}
        </div>
        <div class="mt-1">
          <p class="text-neutral-400 font-semibold text-sm tracking-tight">
            {new Date(entry.frontmatter.date)
            .toLocaleString('en-US', { timeZone: 'UTC', month: 'long', day: 'numeric', year: 'numeric' })}
          </p>
          <div class="mt-2">
            <entry.default />
          </div>
        </div>
      </div>
      ))}
    </div>
  </div>
</div>
</Base>
