---
import Base from '../components/Base.astro'
---

<Base title="Ben Borgers" bg="bg-neutral-50">
<div class="p-4 pb-20 pt-36">
  <div class="max-w-screen-sm mx-auto text-neutral-700">
    <div class="flex gap-4 items-end">
      <div class="mb-1">
        <p class="font-semibold text-neutral-900">Hi! I’m Ben Borgers.</p>
        <p class="mt-1 text-neutral-500">
          I’m a rising sophomore at Tufts University studying computer science.
        </p>
      </div>
      <img src="/me.jpg" class="w-20 rounded-full border-4 border-rose-500" />
    </div>

    <div class="mt-2 flex flex-wrap gap-4">
      <a href="https://twitter.com/benborgers" target="_blank" class="block text-sky-600">
        @benborgers
      </a>
      {/* TODO: click to copy w/ tooltip that says "Click to Copy" */}
      <a href="mailto:benborgers@hey.com" target="_blank" class="block text-rose-500">
        benborgers@hey.com
      </a>
    </div>

    <div class="mt-8 bg-neutral-200/50 p-4 rounded-xl
      [&_a]:underline [&_a]:font-medium">
      <p class="font-semibold text-neutral-900">Work Experience</p>
      <ul class="mt-3 space-y-3 list-disc ml-6 text-neutral-600">
        <li>
          <p>
            Internship at <a href="https://lu.ma" class="text-[#de3163]" target="_blank">Luma</a> and <a href="https://glow.app" class="text-[#bb2dc7]" target="_blank">Glow</a> working on web apps and their Chrome extension.
          </p>
          <p class="text-neutral-400 italic text-sm font-medium">Summer 2022</p>
        </li>
        <li>
          <p>
            Freelance development in Vue for <a href="https://buttondown.email" class="text-[#0069ff]" target="_blank">Buttondown</a>.
          </p>
          <p class="text-neutral-400 italic text-sm font-medium block">Summer 2021 - Present</p>
        </li>
      </ul>
    </div>
  </div>
</div>
</Base>
