---
import Base from '../components/Base.astro'

import TextContainer from '../components/pittsburgh/TextContainer.astro'
import Photo from '../components/pittsburgh/Photo.astro'
import Icon from '../components/Icon'
---

<Base title="Pittsburgh Trip, Summer 2022" bg="bg-orange-50">
<link slot="head" rel="stylesheet"
  href="https://api.fontshare.com/v2/css?f[]=alpino@400,700,900,500&amp;f[]=kalam@700,400&amp;display=swap" />

<div class="overflow-hidden p-4 pt-16 pb-36 text-neutral-700 text-lg">
  <div class="max-w-screen-sm mx-auto">
    <div
      class="fixed top-0 left-0 right-0 sm:right-auto p-2 sm:p-4 bg-orange-50 rounded-br-none sm:rounded-br-xl z-50 flex justify-center">
      <a href="/" class="text-orange-900 flex items-center gap-2">
        <Icon name="ArrowLeft" weight="bold" className="h-3 w-3" />
        <span class="text-sm font-semibold underline decoration-orange-900/40">benborgers.com</span>
      </a>
    </div>

    <div class="mt-8">
      <div class="relative max-w-max mx-auto">
        <p class="relative text-6xl text-center font-black text-neutral-900 tracking-tight font-[Alpino,sans-serif]">
          Pittsburgh
        </p>
        <p
          class="absolute -left-3 -bottom-4 -rotate-2 bg-cyan-600 border-2 border-white shadow text-white text-sm font-bold px-2 py-0.5 rounded-md">
          Trip in Summer 2022
        </p>
      </div>
      <p class="mt-10 italic bg-orange-700/10 shadow-inner text-orange-900/70 p-4 rounded-xl text-base">
        After writing
        <a href="https://benborgers.com/posts" class="underline">
          a lot of blog posts
        </a>
        , I wanted to experiment with this sort of more free-form
        scrapbook style. So here’s a recap of a trip to Pittsburgh! I’m
        writing it for myself to look back on, but maybe you’ll find it
        interesting too.
      </p>
    </div>

    <div class="mt-6 relative flex overflow-hidden -ml-4 -mr-4">
      <img src="/pittsburgh/decorative/squiggle.jpg" alt=""
        class="mix-blend-multiply max-w-none w-[40rem] sm:w-full -ml-8 sm:ml-0" />
      <p class="absolute right-8 sm:right-4 bottom-2 text-right text-sm font-bold text-orange-900/40">
        July 16, 2022
      </p>
    </div>

    <TextContainer className="mt-8">
      <p>I just came back from a trip to Pittsburgh with my dad!</p>
      <p>
        We went there for a math conference, where my dad presented two
        talks. One was about the app that I built for teaching college
        classes that he’s been using for two years:
        <a href="https://bagel.institute" target="_blank" class="underline">
          Bagel Institute</a>.
        I got to come along and give half of the talk!
      </p>
      <p class="pt-8">
        But first, it was the first flight I’ve taken since before Covid:
      </p>
    </TextContainer>

    <div class="mt-8">
      <div class="grid grid-cols-2 z-10">
        <Photo filename="flight-selfie" caption="My dad and I on the flight." hideCaption className="-rotate-3" />
        <Photo filename="flight-wing" caption="The view out of the plane window." hideCaption
          className="rotate-3 -translate-x-4 translate-y-4 sm:translate-y-6" />
      </div>
      <Photo filename="flight-park"
        caption="Trisha and I once tried desperately to use the bathroom at this park, but their bathrooms were closed."
        className="w-3/4 sm:w-1/2 mx-auto z-20 relative -mt-12 sm:-mt-24" />
    </div>

    <TextContainer className="mt-12">
      <p>
        We landed in Pittsburgh, and the next day my dad and I did our
        talk about Bagel Institute.
      </p>
    </TextContainer>

    <div class="mt-6">
      <Photo filename="talk-1" caption="Setting up for the talk." className="max-w-sm mx-auto -rotate-1" />
    </div>

    <TextContainer className="mt-12">
      <p>
        I spent the rest of the week working in various coffee shops and
        the library near our hotel, while my dad actually attended the
        conference (and gave his other talk).
      </p>

      <p>We ate a lot of good food:</p>
    </TextContainer>

    <div class="mt-8 sm:columns-2 sm:gap-8">
      <Photo filename="food-1" caption="A sandwich with meat and pickles." hideCaption className="-rotate-2" />
      <Photo filename="food-2" caption="The Starbucks Pineapple Passionfruit Refresher isn’t bad, but not fantastic."
        className="-mt-8 rotate-1 z-20 relative" />
      <Photo filename="food-3" caption="A pasta dish." hideCaption className="-mt-20 -rotate-3 z-0" />
      <Photo filename="food-4" caption="Chicken in pita bread." hideCaption className="-mt-24 relative z-10 rotate-2" />
      <Photo filename="food-5" caption="A fried chicken sandwich." hideCaption
        className="rotate-1 relative z-10 -mt-16 sm:mt-0" />
      <Photo filename="food-6" caption="A chicken parm sub sandwich." hideCaption className="-mt-32" />
      <Photo filename="food-7" caption="A thai salad with chicken." hideCaption className="rotate-3 -mt-28" />
      <Photo filename="food-8" caption="A chicken shish kabab with salad." hideCaption className="-rotate-2 -mt-24" />
    </div>

    <div class="mt-12 sm:grid sm:grid-cols-2">
      <Photo filename="free-food-reception" caption="I made ample use of the free food at the reception."
        className="-rotate-1 sm:mt-4 relative z-10" />
      <Photo filename="free-food-posters"
        caption="And the free food at the poster session, which I ate instead of looking at posters."
        className="rotate-2 sm:rotate-1 -mt-10 sm:mt-0 translate-x-4 sm:translate-x-0" />
    </div>

    <TextContainer className="mt-12">
      <p>
        But the
        <span
          class="px-1 before:block before:absolute before:-inset-y-0.5 before:inset-x-0 before:bg-cyan-500 before:-skew-y-2 before:rounded-lg relative">
          <span class="font-sans font-bold text-white text-base relative">
            highlight</span></span>
        of the trip was the one sight I wanted to see: Duo’s Taqueria.
      </p>
      <p>
        It’s a taco restaurant created by
        <span class="inline-block whitespace-nowrap pl-1">
          <img src="/pittsburgh/decorative/duo.svg" class="inline-block h-8" />
          <span>Duolingo</span>
        </span>,
        the language learning app that it turns out is headquartered in Pittsburgh.
      </p>
      <p>
        They have a pop-up shop attached to their headquarters, and my dad
        and I took the bus out of downtown Pittsburgh to have lunch there.
      </p>
    </TextContainer>

    <div class="mt-6 sm:grid sm:grid-cols-2">
      <Photo filename="duo-storefront" caption="Duo’s Taqueria" hideCaption
        className="translate-x-4 translate-y-8 rotate-1 sm:-rotate-2 relative z-10" />
      <Photo filename="duo-exterior" caption="The Duolingo headquarters" hideCaption
        className="-translate-x-4 -rotate-2 sm:rotate-1" />
    </div>

    <TextContainer className="mt-12 sm:mt-16">
      <p>
        The menu teaches you how to order in Spanish, and they give you
        “Duo’s Challenge” — if you can translate a word from English into
        Spanish, they’ll give you $1 off. (I swear in the TikTok I saw it
        was that they’d give you free tacos, but I guess not anymore.)
      </p>
      <p>
        My dad and I failed the challenge, but they gave us the discount
        anyway.
      </p>
      <p>And the tacos were quite good!</p>
    </TextContainer>

    <div class="mt-6">
      <Photo filename="duo-food" caption="The food from Duo’s Taqueria." hideCaption class="rotate-1" />
    </div>

    <TextContainer className="mt-12">
      <p>Altogether, a nice trip!</p>
    </TextContainer>
  </div>
</div>
</Base>
