---
import BaseHead from '../components/BaseHead'
import BlogLayout from '../components/BlogLayout'
import loadObsidianPosts from '../lib/loadObsidianPosts'

const posts = [
    ... await loadObsidianPosts(),
    ... Astro.fetchContent('./posts/*.md')
].sort((a, b) => new Date(b.date) - new Date(a.date))
---

<BaseHead title="Posts" />

<BlogLayout>
    <div class="border-b-2 border-gray-200 pb-2">
        <p>
            This is an index of the blog posts that I’ve written. These are mostly meant to be found when googling, but having a single list of them can also be useful.
        </p>
    </div>

    <div class="mt-8 space-y-8 sm:space-y-2">
        {posts.map(post => (
            <a href={post.url} class="block group">
                <div class="sm:flex sm:justify-between sm:space-x-4">
                    <p class="group-hover:underline font-medium text-gray-900 underline sm:no-underline">{post.title}</p>
                    <p class="text-gray-500">{new Date(post.date).toLocaleString('en-US', { timeZone: 'UTC', month: 'short', day: 'numeric', year: 'numeric' })}</p>
                </div>
            </a>
        ))}
    </div>
</BlogLayout>
