<head>
  <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@900" rel="stylesheet">

  <style global>
    @import "../css/global.css";
  </style>
</head>

<div class="w-[1200px] h-[630px] flex items-center justify-center p-12 pb-16 bg-rose-600">
  <p id="title" class="font-serif font-black text-7xl text-white leading-tight text-center drop-shadow-lg"></p>
</div>

<script>
  const params = new URLSearchParams(location.search)
  document.querySelector('#title').innerText = params.get('title')
</script>
