---
import Head from '../components/Head'
---

<Head />

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@1,700" rel="stylesheet">
</head>

<div class="h-screen">
    <img src="/img/christian.jpg" class="absolute transition-all transform-gpu ease-linear top-0 left-0 w-1/6">
    <p class="absolute transition-all transform-gpu ease-linear top-0 left-0 font-bold text-gray-900 text-xl sm:text-5xl bg-white" style="font-family: 'Balsamiq Sans'"></p>

    <div class="fixed bottom-4 inset-x-4">
        <input type="range" min="0" max="5000" value="2000" class="w-full sm:w-1/2 mx-auto block" />
    </div>
</div>

<script>
    const time = () => 5100 - document.querySelector('input').value

    const move = () => {
        for(const query of ['img', 'p', 'input']) {
            const el = document.querySelector(query)
            el.style.transitionDuration = time() + 'ms'

            const { width: imgWidth, height: imgHeight } = el.getBoundingClientRect()

            const windowHeight = window.innerHeight - imgHeight
            const windowWidth = window.innerWidth - imgWidth

            const top = Math.floor(Math.random() * windowHeight)
            const left = Math.floor(Math.random() * windowWidth)

            el.style.top = top + 'px'
            el.style.left = left + 'px'


            if(query === 'p') {
                el.innerHTML = `${time() < 3000 ? 'fast' : 'slow'}-mo christian`
            }
        }

        setTimeout(() => move(), time())
    }

    move()

    document.querySelector('input').addEventListener('change', () => {
        move()
    })
</script>
