---
import Base from '../components/Base.astro'
import BlogLayout from '../components/BlogLayout.astro'
import { CaretLeft } from 'phosphor-react'
import { allBlogPosts } from '../lib/posts'

const posts =
  (await allBlogPosts(
    await Astro.glob('../content/posts/**/*.md'),
    await Astro.glob('../content/posts/ghost.json')
  ))
    .filter(post => post.technical === true)
---

<Base title="Ben Borgers’ Blog" bg="bg-zinc-50">
<BlogLayout>
  <div>
    <a href="/"
      class="flex items-center gap-1.5 bg-rose-600 text-sm font-semibold text-white px-2.5 py-0.5 rounded-full max-w-max">
      <CaretLeft weight="bold" className="[&_polyline]:[stroke-width:36]" />
      <span>Ben Borgers</span>
    </a>
  </div>

  <div
    class="mt-6 space-y-2 [&_a]:font-medium [&_a]:underline [&_a]:decoration-zinc-400 bg-zinc-200/50 px-4 py-3 rounded-xl">
    <p>
      These are my blog posts on niche programming solutions, which are probably only interesting if you’re searching
      for a specific solution.
    </p>
    <p>
      <a href="/posts">The rest of my blog posts are here</a>.
    </p>
  </div>

  <div class="mt-6 space-y-2">
    {posts.map(post => (
    <div class="flex justify-between">
      <a href={`/posts/${post.slug}`} class="block underline decoration-zinc-300">
        {post.title}
      </a>
      <p class="text-zinc-400">
        {post.date.toFormat('LLLL d, yyyy')}
      </p>
    </div>
    ))}
  </div>
</BlogLayout>
</Base>
