---
const { title, ogImage, bg } = Astro.props

let ogImageUrl = null
if (ogImage) {
  if (ogImage.startsWith('/og-images/')) {
    ogImageUrl = `https://v1.screenshot.11ty.dev/${encodeURIComponent(Astro.site.origin + ogImage)}/opengraph/${new Date().getTime()}`
  }
}
---

<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{title}</title>
  <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™" />

  <script src="https://owl.benborgers.com/script.js" data-site="ZWCPJCUA" data-included-domains="benborgers.com" defer></script>

  {ogImageUrl &&
  <meta property="og:image" content={ogImageUrl} />
  }

  {/* Since this is the default sans-serif font, every page gets it. */}
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

  <slot name="head" />
</head>

<body class={`antialiased ${ bg ?? 'bg-white' }`}>
  <slot />
</body>

</html>
