---
import type { CollectionEntry } from "astro:content";
import Prose from "./prose.astro";
import RelatedPosts from "./related-posts.astro";

interface Props {
  entry: CollectionEntry<"posts"> | CollectionEntry<"pages">;
  coverImage?: string;
  coverImagePosition?: "top" | "bottom";
}

const {
  entry,
  coverImage: coverImageProp,
  coverImagePosition = "top",
} = Astro.props;

const title = entry.collection === "posts" ? entry.data.title : undefined;
const date = entry.collection === "posts" ? entry.data.date : undefined;
const coverImage = coverImageProp
  ? coverImageProp
  : entry.collection === "posts"
    ? entry.data.cover_image
    : undefined;

const coverImageTop = coverImage && coverImagePosition !== "bottom";
const coverImageBottom = coverImage && coverImagePosition === "bottom";

const hasFrontmatter = coverImageTop || title || date;

const { Content } = await entry.render();
---

{
  entry.collection === "posts" && entry.data.draft && (
    <p class="mb-10 bg-brand-yellow-light text-brand-red border border-brand-red px-2 py-0.5 font-medium max-w-max mx-auto">
      draft post
    </p>
  )
}

{
  hasFrontmatter && (
    <>
      {coverImageTop && (
        <img src={coverImage} alt="" class="h-48 sm:h-54 w-auto mx-auto" />
      )}

      {title && (
        <h1
          class:list={[
            "text-gray-950 text-3xl sm:text-4xl font-h1 font-bold uppercase text-center text-balance",
            coverImageTop && "mt-12",
          ]}
        >
          {title}
        </h1>
      )}

      {date && (
        <time class="block mt-2 text-sm font-medium tracking-tight text-gray-500 text-center">
          {date.toLocaleString("en-US", {
            timeZone: "UTC",
            month: "long",
            day: "numeric",
            year: "numeric",
          })}
        </time>
      )}
    </>
  )
}

<div class:list={[hasFrontmatter ? "mt-10" : "mt-2"]}>
  <Prose>
    <Content />
  </Prose>

  {
    entry.collection === "posts" && !import.meta.env.CHEETAH && (
      <RelatedPosts
        entry={entry}
        class="lg:hidden mt-10 pt-10 border-t border-gray-100"
      />
    )
  }

  {
    coverImageBottom && (
      <img src={coverImage} alt="" class="mt-18 h-48 sm:h-54 w-auto mx-auto" />
    )
  }
</div>
