---
import type { CollectionEntry } from "astro:content";
import Prose from "./prose.astro";

interface Props {
  entry: CollectionEntry<"posts"> | CollectionEntry<"pages">;
  preview?: boolean;
}

const { entry } = Astro.props;

const { Content } = await entry.render();
---

<div class="max-sm:mt-4"></div>

{
  entry.collection === "posts" && entry.data.draft && (
    <p class="mb-4 bg-rose-100 text-rose-950 px-2 py-0.5 font-medium max-w-max">
      <span class="sm:hidden">You’re reading a draft post.</span>
      <span class="max-sm:hidden">
        You’re reading a draft post that’s still being written.
      </span>
    </p>
  )
}

{
  entry.collection === "posts" && (
    <>
      {entry.data.cover_image && (
        <img src={entry.data.cover_image} alt="" class="max-h-54 mx-auto" />
      )}

      <h1
        class:list={[
          "text-gray-950 text-3xl sm:text-4xl font-h1 font-bold uppercase text-center text-balance",
          entry.data.cover_image && "mt-12",
        ]}
      >
        {entry.data.title}
      </h1>

      {entry.data.date && (
        <time class="block mt-2 text-sm font-medium text-gray-500 text-center">
          {entry.data.date.toLocaleString("en-US", {
            timeZone: "UTC",
            month: "long",
            day: "numeric",
            year: "numeric",
          })}
        </time>
      )}
    </>
  )
}

<div class:list={[entry.collection === "posts" ? "mt-10" : "mt-2"]}>
  <Prose>
    <Content />
  </Prose>
</div>
