---
interface Props {
  markdown: string;
}

import removeMarkdown from "remove-markdown";

const { markdown } = Astro.props;
---

<div class="line-clamp-3">
  <p>{removeMarkdown(markdown).substring(0, 250)}</p>
</div>
