---
export let title
---

<head>
    <title>{title ? title + ' - ' : ''}Ben Borgers</title>
    <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™" />
    <link rel="stylesheet" href="/style/global.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
