---
export interface Props {
  index: 1 | 2 | 3 | 4;
  title: string;
  items: { title: string; subtitle?: string }[];
}

import Box from "./Box.astro";

const { index, title, items } = Astro.props;
---

<Box index={index} title={title}>
  <div class="p-4 ml-1.5 space-y-4">
    {
      items.map((item) => (
        <div class="flex items-start gap-x-3">
          <div class="mt-2 h-1.5 w-1.5 rounded-full bg-gray-200 flex-shrink-0" />
          <div>
            <p set:html={item.title} />
            {item.subtitle && (
              <p class="mt-0.5 text-sm font-medium text-gray-400">
                {item.subtitle}
              </p>
            )}
          </div>
        </div>
      ))
    }
  </div>
</Box>
