<a href="/" class="group">
  <div
    class="bg-white shadow-sm w-max p-1.5 sm:p-2 ring-1 ring-gray-200/50 rotate-2 origin-bottom-right"
  >
    <img
      src="/me.jpg"
      class="size-18 sm:size-24 bg-gray-200 border border-gray-200"
    />
    <p
      class="max-sm:hidden mt-1.5 text-sm font-medium text-gray-400 text-center"
    >
      Ben Borgers
    </p>
  </div>
</a>
