---
import type { Post } from "../lib/blog";
import PostList from "./PostList.astro";

export interface Props {
  posts: Post[];
}
---

<div
  class="bg-gray-50 border border-gray-100 rounded-xl overflow-hidden divide-y divide-gray-100"
>
  <PostList posts={Astro.props.posts} />
</div>
