---
const { title, date } = Astro.props
import BaseHead from './BaseHead'
import BlogLayout from './BlogLayout'
---

<BaseHead title={title} />
<head>
    <link rel="stylesheet" href="/style/prism.css" />
</head>

<BlogLayout>
    <h1 class="font-black text-3xl text-gray-900">{title}</h1>

    <div class="prose mt-8 max-w-none md:max-w-prose">
        <slot />
    </div>

    <div class="mt-16 text-gray-500">
        <p>--</p>
        <p>
            Last updated {new Date(date).toLocaleString('en-US', { timeZone: 'UTC', month: 'long', day: 'numeric', year: 'numeric' })}
        </p>
    </div>
</BlogLayout>
