<div class="wrapper px-4 pt-12 pb-24 gap-8">
    <div class="justify-self-end">
        <p class="mt-1">
            <a href="/" class="font-medium text-gray-500 hover:text-blue-600 transition-colors duration-200">
                Ben Borgers
            </a>
        </p>
    </div>

    <div>
        <slot />
    </div>

    <div />
</div>

<style>
    .wrapper {
        display: grid;
        grid-template-columns: 1fr minmax(0, 65ch) 1fr;
    }
</style>
