<div class="md:grid p-4 md:pt-12 pb-24 gap-8" style="grid-template-columns: 1fr minmax(0, 65ch) 1fr">
    <div class="justify-self-end mt-1">
        <p>
            <a href="/" class="font-medium text-gray-500 hover:text-blue-600 transition-colors duration-200">
                Ben&nbsp;Borgers
            </a>
        </p>
        <p>
            <a
                href="https://twitter.com/benborgers"
                target="_blank"
                class="text-gray-400 hover:text-blue-600 transition-colors duration-200"
                onclick="window.fathom.trackGoal('E3LD3YS1', 0)"
            >
                ⇢ Twitter
            </a>
        </p>
    </div>

    <div class="mt-4 md:mt-0">
        <slot />
    </div>

    <div />
</div>
