<div
  class="prose max-w-none
    prose-gray prose-rose
    prose-headings:font-serif
    prose-img:mx-auto prose-figcaption:font-sans
    before:prose-code:content-none
    after:prose-code:content-none"
>
  <slot />
</div>
