<div class="@container">
  <div class="prose">
    <slot />
  </div>
</div>

{
  // This prevents the classes used in the JS below from getting purged out by Tailwind.
  // I tried using Tailwind's recommended `@source inline("")` approach, but the site didn't build.
}
<div class="hidden cursor-zoom-in hover:opacity-75 transition-opacity"></div>

<script>
  document.querySelectorAll(".prose img").forEach((img) => {
    const imgElement = img as HTMLImageElement;

    const link = document.createElement("a");
    link.target = "_blank";
    link.classList.add(
      "cursor-zoom-in",
      "hover:opacity-75",
      "transition-opacity"
    );

    link.href = imgElement.src;

    imgElement.parentNode?.replaceChild(link, imgElement);
    link.appendChild(imgElement);
  });
</script>
