@import "tailwindcss";
@import "./prose.css";

@theme {
  --font-h1: "PP Right Serif Casual", serif;
  --font-headings: "neue-haas-unica", system-ui, sans-serif;
  --font-sans: "neue-haas-unica", system-ui, sans-serif;

  --color-brand-blue: hsl(209deg, 95%, 40%);
  --color-brand-blue-light: hsl(209deg, 95%, 90%);

  --color-brand-red: hsl(3deg, 99%, 45%);
  --color-brand-red-light: hsl(3deg, 99%, 96%);

  --color-brand-yellow: hsl(45deg, 100%, 50%);
  --color-brand-yellow-light: hsl(45deg, 100%, 90%);

  --color-gray-50: var(--color-stone-50);
  --color-gray-100: var(--color-stone-100);
  --color-gray-200: var(--color-stone-200);
  --color-gray-300: var(--color-stone-300);
  --color-gray-400: var(--color-stone-400);
  --color-gray-500: var(--color-stone-500);
  --color-gray-600: var(--color-stone-600);
  --color-gray-700: var(--color-stone-700);
  --color-gray-800: var(--color-stone-800);
  --color-gray-900: var(--color-stone-900);
  --color-gray-950: var(--color-stone-950);
}
