@import "tailwindcss";
@import "./prose.css";

@theme {
  --font-sans: "PP Neue Montreal", system-ui, sans-serif;
  --font-serif: "PP Right Serif Casual", Georgia, serif;

  --color-gray-50: var(--color-stone-50);
  --color-gray-100: var(--color-stone-100);
  --color-gray-200: var(--color-stone-200);
  --color-gray-300: var(--color-stone-300);
  --color-gray-400: var(--color-stone-400);
  --color-gray-500: var(--color-stone-500);
  --color-gray-600: var(--color-stone-600);
  --color-gray-700: var(--color-stone-700);
  --color-gray-800: var(--color-stone-800);
  --color-gray-900: var(--color-stone-900);
  --color-gray-950: var(--color-stone-950);
}

mark {
  @apply bg-transparent box-decoration-clone;

  background-image: linear-gradient(
    to left,
    color-mix(in srgb, var(--color-yellow-500) 40%, transparent),
    color-mix(in srgb, var(--color-yellow-500) 10%, transparent) 0.3em,
    color-mix(in srgb, var(--color-yellow-500) 20%, transparent)
      calc(100% - 0.5em),
    color-mix(in srgb, var(--color-yellow-500) 50%, transparent)
  );

  border-radius: 0.5em 0.3em;
  padding: 0.1em 0.2em;
  margin: -0.1em -0.2em;
}
