@utility prose {
  @apply tracking-tight text-lg text-gray-800 leading-[1.6];

  strong {
    @apply font-semibold;
  }

  h2,
  h3 {
    @apply font-headings font-medium text-gray-950 !mt-12 !mb-6;

    + * {
      @apply !mt-0;
    }
  }

  h2 {
    @apply text-2xl leading-[1.2];
  }

  h3 {
    @apply text-xl leading-[1.2];
  }

  > p {
    @apply my-6;
  }

  figure {
    @apply my-8;
  }

  p > a:has(img) {
    @apply block my-8;
  }

  > :first-child {
    @apply mt-0;
  }

  > :last-child {
    @apply mb-0;
  }

  ul {
    @apply list-['–__'];
  }

  ol {
    @apply list-decimal;
  }

  ul,
  ol {
    @apply pl-9;
  }

  ul ul {
    @apply pt-2;
  }

  li {
    @apply my-2;
  }

  a {
    @apply text-brand-blue underline underline-offset-4 decoration-[1.5px];
  }

  hr {
    @apply h-auto my-10 border-none;

    &::before {
      content: "# # #";
      @apply block text-center w-max mx-auto;
      background: linear-gradient(
        to right,
        var(--color-brand-red) 0%,
        var(--color-brand-red) 33%,
        var(--color-brand-blue) 33%,
        var(--color-brand-blue) 66%,
        var(--color-brand-yellow) 66%,
        var(--color-brand-yellow) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  figcaption {
    @apply mt-2 italic font-sans text-center text-base text-gray-400;
  }

  pre {
    @apply border border-gray-200 px-3 py-2 text-base leading-[1.5];
  }

  code:not(pre code) {
    @apply text-base text-brand-red bg-brand-red-light px-1 py-0.5;
  }

  a:has(code) {
    @apply decoration-brand-red;
  }

  blockquote {
    @apply italic border-l-4 border-gray-300 pl-4 pt-2 pb-2.5 bg-gradient-to-r from-gray-200 to-transparent;
  }

  /* These two classes are for the poor man's image carousels in /wrapped. */

  thead:has(th:empty) {
    @apply hidden;
  }

  td img:only-child {
    @apply my-0;
  }
}
