@font-face {
  font-family: "PP Right Serif Wide";
  src: url("/fonts/right-serif/wide/PP Right Serif - Wide Fine.woff2")
    format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "PP Right Serif Wide";
  src: url("/fonts/right-serif/wide/PP Right Serif - Wide Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PP Right Serif Wide";
  src: url("/fonts/right-serif/wide/PP Right Serif - Wide Black.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}
