@font-face {
  font-family: "PP Right Serif Casual";
  src: url("/fonts/right-serif/casual/PP Right Serif - Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PP Right Serif Casual";
  src: url("/fonts/right-serif/casual/PP Right Serif - Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PP Right Serif Casual";
  src: url("/fonts/right-serif/casual/PP Right Serif - Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
