---
const { subtitle } = Astro.props
---

<li>
  <p class="[&_a]:underline [&_a]:font-medium [&_a]:text-neutral-800">
    <slot />
  </p>

  {subtitle && (
  <p class="text-neutral-400 italic text-sm font-medium">
    {subtitle}
  </p>
  )}
</li>
