---
const { title, className } = Astro.props
import { ArrowDown } from 'phosphor-react'
---

<div x-data="{ expanded: false }" x-show="expanded" x-collapse.min.230px x-cloak class={` bg-neutral-200/50 p-4
  rounded-xl overflow-hidden relative ${className}`}>
  <div x-bind:class="{'opacity-0': expanded }"
    class="h-1/2 absolute inset-x-0 bottom-0 bg-gradient-to-b from-neutral-200/0 to-neutral-200 pointer-events-none transition-opacity" />
  <button
    class="text-white bg-neutral-700 px-3 py-0.5 rounded-full absolute bottom-4 right-4 flex items-center gap-1 border-2 border-white transition-opacity"
    x-bind:class="{ 'opacity-0 pointer-events-none': expanded }" x-on:click="expanded = true">
    <span class=" text-sm font-semibold">See More</span>
    <ArrowDown weight="fill" />
  </button>

  <p class="font-semibold text-neutral-900">{title}</p>
  <ul class="mt-3 space-y-3 list-disc ml-6 text-neutral-600">
    <slot />
  </ul>
</div>
