<!doctype html>
<html lang="en">
<head>
    <title>
        <%= typeof title === 'undefined' ? 'Ben Borgers' : title + ' - Ben Borgers' %>
    </title>
    <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="">
    <%- content %>
</body>
</html>
