<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {% if title %}
            {{ title | safe }} -
        {% endif %}
        Ben Borgers
    </title>
    <link rel="icon" href="https://emojicdn.elk.sh/🐙" />
    <link rel="stylesheet" href="/style.css" />
</head>
<body
    class="font-sans antialiased text-gray-700 bg-white max-w-screen-sm mx-auto min-h-screen grid pt-4 px-4 pb-8 md:px-0 md:pt-6"
    style="grid-template-rows: max-content 1fr max-content"
>
    <header class="mb-24 flex items-center justify-between">
        <a href="/" class="inline-block font-semibold text-blue-600">Ben Borgers</a>

        <nav class="flex space-x-3">
            {% for item in nav %}
                <a href="{{ item.url }}" class="inline-block duration-150 {% if page.url === item.url %} text-gray-800 {% else %} text-gray-400 hover:text-gray-700 {% endif %}">{{ item.name }}</a>
            {% endfor %}
        </nav>
    </header>

    <main>
        {{ content | safe }}
    </main>

    <footer class="border-t border-gray-200 mt-16 pt-2 flex justify-between items-center">
        <p class="text-gray-400">
            <span>👋</span>
            <span class="hidden sm:inline-block">I love getting questions or replies!</span>
            <a href="mailto:benborgers@hey.com" class="underline duration-150 hover:text-gray-600">benborgers@hey.com</a>
        </p>
        <a class="inline-block bg-gray-200 text-gray-600 text-sm font-semibold px-2 rounded" href="/posts/version">
            v1.0
        </a>
    </footer>
</body>
</html>
