---
const { title } = Astro.props
---

<head>
  <title>{title ? `${title} - ` : ''}Ben Borgers</title>
  <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style global>
    @import "../styles/global.css";
  </style>
</head>

<div>
  <slot />
</div>
