---
import "../css/fonts.css";

export interface Props {
  title: string;
}

import { Planet } from "phosphor-react";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{Astro.props.title}</title>
    <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™" />
  </head>
  <body
    class:list={[
      "antialiased font-width-4 text-gray-700",
      "bg-rose-500 px-2 py-2.5",
    ]}
  >
    <div
      class="bg-white min-h-[calc(100vh-1.25rem)] rounded-xl shadow-sm p-4 sm:pt-8 pb-36"
    >
      <div class="max-w-screen-sm mx-auto">
        <header class="flex items-center justify-between">
          <a
            href="/"
            class:list={[
              "block w-max font-extrabold font-width-5 text-gray-800 hover:text-rose-500 transition-colors",
              "flex items-center gap-x-1.5",
            ]}
          >
            <Planet weight="fill" className="-mt-0.5" />
            <span>Ben Borgers</span>
          </a>
          <a
            href="/posts"
            class="font-medium text-gray-400 hover:text-rose-500 transition-colors"
          >
            Blog
          </a>
        </header>
        <main class="mt-12">
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
