---
import "../css/fonts.css";

export interface Props {
  title: string;
}

import { Planet } from "phosphor-react";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{Astro.props.title}</title>
    <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™" />

    <meta name="theme-color" content="#f43f5e" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll("a").forEach((el) => {
          if (el.href.startsWith(location.origin)) {
            el.addEventListener("click", (e) => {
              e.preventDefault();

              localStorage.setItem("page_animation", "true");

              const div = document.createElement("div");
              div.style.height = "100vh";
              div.style.width = "100vw";
              div.style.position = "absolute";
              div.style.top = "-100vh";
              div.style.left = "0";
              div.style.right = "0";
              div.style.transition = "transform 0.2s";
              div.classList.add("bg-rose-500");
              document.body.append(div);

              requestAnimationFrame(() => {
                div.style.transform = "translateY(100vh)";

                setTimeout(() => {
                  window.location.href = el.href;
                }, 250);
              });
            });
          }
        });
      });

      if (localStorage.getItem("page_animation")) {
        localStorage.removeItem("page_animation");

        const div = document.createElement("div");
        div.style.height = "100vh";
        div.style.width = "100vw";
        div.style.position = "absolute";
        div.style.top = "-100vh";
        div.style.left = "0";
        div.style.right = "0";
        div.style.transform = "translateY(100vh)";
        div.style.transition = "transform 0.3s";
        div.classList.add("bg-rose-500");
        document.body.append(div);

        requestAnimationFrame(() => {
          div.style.transform = "translateY(0)";
        });
      }
    </script>
  </head>
  <body
    class:list={[
      "antialiased text-gray-700",
      "bg-white sm:bg-rose-500",
      "sm:px-2 sm:py-2.5",
      "max-sm:border-t-4 max-sm:border-t-rose-500",
    ]}
  >
    <div
      class="bg-white min-h-screen sm:min-h-[calc(100vh-1.25rem)] sm:rounded-xl shadow-sm p-4 sm:pt-8 pb-36"
    >
      <div class="max-w-screen-sm mx-auto">
        <header class="flex items-center justify-between">
          <a
            href="/"
            class:list={[
              "block w-max font-extrabold font-width-5 text-gray-800 hover:text-rose-500 transition-colors",
              "flex items-center gap-x-1.5",
            ]}
          >
            <Planet weight="fill" className="-mt-0.5" />
            <span>Ben Borgers</span>
          </a>
          <a
            href="/posts"
            class:list={[
              "font-medium text-gray-400 hover:text-rose-500 transition-colors font-width-3",
              {
                "underline decoration-gray-300":
                  Astro.url.pathname === "/posts",
              },
            ]}
          >
            Blog
          </a>
        </header>
        <main class="mt-12">
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
