---
import "../css/index.css";
import "../css/kyoto.css";
import "../css/montreal.css";
import "../css/nikkei-maru.css";
import "../css/right-serif-casual.css";
import "../css/right-serif-wide.css";
import "../css/valkyrie.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="Ben Borgers" />

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <link rel="stylesheet" href="https://use.typekit.net/clg6cgl.css" />
    <link rel="stylesheet" href="https://jero.zone/fonts.css" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Ben Borgers"
      href="/rss"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <script
      src="https://owl.benborgers.com/script.js"
      data-site="ZWCPJCUA"
      data-included-domains="benborgers.com"
      defer></script>
  </head>
  <body
    class="antialiased bg-white text-pretty selection:bg-brand-yellow-light"
  >
    <div class="lg:grid lg:grid-cols-[1fr_540px_1fr] lg:gap-x-16">
      <nav
        class="p-4 pr-0 h-max lg:sticky lg:top-0 max-lg:bg-gray-50 max-lg:border-b max-lg:border-gray-100"
      >
        <div
          class="max-lg:max-w-[540px] max-lg:mx-auto max-lg:grid max-lg:grid-cols-3"
        >
          <a
            href="/"
            class="block max-w-max text-gray-900 font-semibold tracking-tight bg-brand-blue-light px-1.5 -ml-1.5 max-lg:col-span-3"
          >
            Ben Borgers
          </a>
          <div class="mt-2 text-gray-900 font-medium tracking-tight">
            <a
              href="/"
              class:list={[
                "block max-w-max",
                Astro.url.pathname === "/" &&
                  "underline underline-offset-[1.5px]",
              ]}
            >
              Home
            </a>
            <a
              href="/blog"
              class:list={[
                "block max-w-max",
                Astro.url.pathname.startsWith("/blog") &&
                  "underline underline-offset-[1.5px]",
              ]}
            >
              Blog
            </a>
            <a
              href="/now"
              class:list={[
                "block max-w-max",
                Astro.url.pathname === "/now" &&
                  "underline underline-offset-[1.5px]",
              ]}
            >
              Now
            </a>
          </div>

          <div class="mt-3 text-gray-400">
            <a
              href="https://twitter.com/benborgers"
              target="_blank"
              class="block max-w-max"
            >
              Twitter
            </a>
            <a
              href="https://bsky.app/profile/benborgers.com"
              target="_blank"
              class="block max-w-max"
            >
              Bluesky
            </a>
            <a
              href="https://github.com/benborgers"
              target="_blank"
              class="block max-w-max"
            >
              GitHub
            </a>
          </div>

          <div class="mt-3 text-gray-400">
            <a
              href="https://buttondown.com/benborgers"
              target="_blank"
              class="block max-w-max"
            >
              Newsletter
            </a>
            <a
              href="https://photos.ben.page"
              target="_blank"
              class="block max-w-max"
            >
              Photos
            </a>
            <a href="/rss" target="_blank" class="block max-w-max"> RSS </a>
          </div>
        </div>
      </nav>

      <main
        class="pt-14 lg:pt-24 pb-36 max-lg:px-4 max-lg:max-w-[540px] max-lg:mx-auto"
      >
        <slot />
      </main>

      <div>
        <slot name="sidebar" />
      </div>
    </div>
  </body>
</html>
