---
import "../css/fonts.css";

export interface Props {
  title: string;
}

import { Planet } from "phosphor-react";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{Astro.props.title}</title>
    <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™" />
  </head>
  <body
    class="antialiased font-width-4 text-gray-700 p-4 sm:pt-8 pb-36 border-t-4 border-rose-500"
  >
    <div class="max-w-screen-sm mx-auto">
      <header class="flex items-center justify-between">
        <a
          href="/"
          class:list={[
            "block w-max font-extrabold font-width-5 text-gray-800",
            "flex items-center gap-x-1.5",
          ]}
        >
          <Planet weight="fill" className="-mt-0.5" />
          <span>Ben Borgers</span>
        </a>
        <a
          href="/posts"
          class:list={[
            "font-medium text-gray-400",
            {
              "underline decoration-gray-300": Astro.url.pathname === "/posts",
            },
          ]}
        >
          Blog
        </a>
      </header>
      <main class="mt-12">
        <slot />
      </main>
    </div>
  </body>
</html>
