---
import "../css/index.css";
import "../css/kyoto.css";
import "../css/montreal.css";
import "../css/nikkei-maru.css";
import "../css/right-serif-casual.css";
import "../css/valkyrie.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{title}</title>
    <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="Ben Borgers" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@benborgers" />
    <meta name="twitter:creator" content="@benborgers" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:image" content="https://emojicdn.elk.sh/ðŸ™" />

    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Ben Borgers"
      href="/rss"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <script
      src="https://owl.benborgers.com/script.js"
      data-site="ZWCPJCUA"
      data-included-domains="benborgers.com"
      defer></script>
  </head>
  <body class="antialiased bg-white text-pretty selection:bg-amber-100">
    <div class="grid grid-cols-[1fr_540px_1fr] gap-x-16">
      <nav class="pl-4 pt-4 h-max sticky top-0">
        <a href="/" class="block max-w-max text-gray-900 font-medium">
          <mark>Ben Borgers</mark>
        </a>
        <div class="mt-2 text-gray-900">
          <a
            href="/"
            class:list={[
              "block max-w-max font-medium",
              Astro.url.pathname === "/" &&
                "underline underline-offset-[1.5px]",
            ]}
          >
            Home
          </a>
          <a
            href="/blog"
            class:list={[
              "block max-w-max font-medium",
              Astro.url.pathname.startsWith("/blog") &&
                "underline underline-offset-[1.5px]",
            ]}
          >
            Blog
          </a>
          <a
            href="/now"
            class:list={[
              "block max-w-max font-medium",
              Astro.url.pathname === "/now" &&
                "underline underline-offset-[1.5px]",
            ]}
          >
            Now
          </a>
        </div>
        <div class="mt-3 text-gray-400">
          <a
            href="https://twitter.com/benborgers"
            target="_blank"
            class="block max-w-max font-medium"
          >
            Twitter
          </a>
          <a
            href="https://bsky.app/profile/benborgers.com"
            target="_blank"
            class="block max-w-max font-medium"
          >
            Bluesky
          </a>
          <a
            href="https://github.com/benborgers"
            target="_blank"
            class="block max-w-max font-medium"
          >
            GitHub
          </a>
        </div>
        <div class="mt-3 text-gray-400">
          <a
            href="https://buttondown.com/benborgers?as_embed=true"
            target="_blank"
            class="block max-w-max font-medium"
          >
            Newsletter
          </a>
          <a
            href="https://photos.ben.page"
            target="_blank"
            class="block max-w-max font-medium"
          >
            Photos
          </a>
          <a href="/rss" target="_blank" class="block max-w-max font-medium">
            RSS
          </a>
        </div>
      </nav>

      <main class="pt-24 pb-32">
        <slot />
      </main>

      <div>
        <slot name="sidebar" />
      </div>
    </div>
  </body>
</html>
