---
import NavLink from '../components/NavLink.astro'
const { title } = Astro.props
---

<head>
  <title>{title}</title>
  <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™">
  <meta
    property="og:image"
    content={`https://v1.screenshot.11ty.dev/${
      encodeURIComponent('https://benborgers.com/share-image?title=' + title)
    }/opengraph`}
  />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style global>
    @import "../css/global.css";
  </style>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@900&family=Public+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <script
    src="https://owl.benborgers.com/script.js"
    data-site="ZWCPJCUA"
    data-included-domains="benborgers.com"
    defer
  ></script>
</head>

<body class="bg-white">
  <nav class="hidden sm:block h-screen fixed inset-y-0 left-0 bg-gray-100 pt-16 w-16 space-y-6">
    <NavLink icon="home" href="/" />
    <NavLink icon="blog" href="/posts" />
    <NavLink icon="twitter" href="https://twitter.com/benborgers" />
  </nav>

  <nav class="sm:hidden bg-gray-100 p-3 rounded-xl m-4 mb-2 flex gap-x-12 justify-center">
    <NavLink icon="home" href="/" />
    <NavLink icon="blog" href="/posts" />
    <NavLink icon="twitter" href="https://twitter.com/benborgers" />
  </nav>

  <div class="p-4 sm:ml-16">
    <div class="max-w-xl mx-auto sm:mt-16 mb-36">
      <slot />
    </div>
  </div>
</body>
