---
import "../css/fonts.css";

export interface Props {
  title: string;
}

import { Planet } from "phosphor-react";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{Astro.props.title}</title>
    <link rel="icon" href="https://emojicdn.elk.sh/ðŸ™" />
    <meta name="theme-color" content="#f43f5e" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />

    <meta
      property="og:image"
      content={`https://v1.screenshot.11ty.dev/${encodeURIComponent(
        Astro.url.href
      )}/opengraph/1:1/bigger/_${new Date().getTime()}_wait:2`}
    />

    <script
      src="https://owl.benborgers.com/script.js"
      data-site="ZWCPJCUA"
      data-included-domains="benborgers.com"
      defer
    ></script>
  </head>
  <body
    class:list={[
      "antialiased text-gray-700",
      "bg-white sm:bg-rose-500",
      "sm:px-2 sm:py-2.5",
      "max-sm:border-t-4 max-sm:border-t-rose-500",
    ]}
  >
    <div
      class="bg-white min-h-screen sm:min-h-[calc(100vh-1.25rem)] sm:rounded-xl shadow-sm p-4 sm:pt-8 pb-36"
    >
      <div class="max-w-screen-sm mx-auto">
        <header class="flex items-end justify-between">
          <a
            href="/"
            class:list={[
              "block w-max font-extrabold font-width-5 text-gray-800 hover:text-rose-500 transition-colors",
              "flex items-center gap-x-1.5",
            ]}
          >
            <Planet weight="fill" className="-mt-0.5" />
            <span>Ben Borgers</span>
          </a>

          <div class="space-x-3">
            {
              [
                { label: "Home", href: "/" },
                { label: "Blog", href: "/posts" },
              ].map(({ label, href }) => (
                <a
                  href={href}
                  class:list={[
                    "font-medium text-gray-400 hover:text-rose-500 transition-colors font-width-4",
                    {
                      "underline decoration-gray-300":
                        Astro.url.pathname === href ||
                        // Production Astro has trailing slash on URL if it's not root (/).
                        Astro.url.pathname === href + "/",
                    },
                  ]}
                >{label}</a>
              ))
            }
          </div>
        </header>
        <main class="mt-12">
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
