---
export let content

import Head from '../components/Head'
import PostsPage from '../components/PostsPage'
---

<Head title={content.title} />
<head>
    <link rel="stylesheet" href="/style/prism.css" />
</head>

<PostsPage>
    <h1 class="font-black text-3xl text-gray-900">{content.title}</h1>
    <div class="prose mt-8 max-w-none md:max-w-prose">
        <slot />
    </div>

    <div class="mt-16 text-gray-500">
        <p>--</p>
        <p>
            {new Date(content.date).toLocaleString('en-US', { timeZone: 'UTC', month: 'long', day: 'numeric', year: 'numeric' })}
        </p>
    </div>
</PostsPage>
