---
export let content

import Head from '../components/Head'
import PostsPage from '../components/PostsPage'
---

<Head title={content.title} />
<head>
    <link rel="stylesheet" href="/style/prism.css" />
</head>

<PostsPage>
    <h1 class="font-black text-3xl text-gray-900">{content.title}</h1>
    <div class="prose mt-8 max-w-none md:max-w-prose">
        <slot />
    </div>

    <div class="mt-16 text-gray-500">
        <p>--</p>
        <p class="space-x-4">
            <span>{new Date(content.date).toLocaleString('en-US', { timeZone: 'UTC', month: 'long', day: 'numeric', year: 'numeric' })}</span>
            <a
                href="https://twitter.com/benborgers"
                class="underline hover:text-blue-600 transition-colors duration-200"
                onclick="window.fathom.trackGoal('E3LD3YS1', 0)"
            >@benborgers</a>
        </p>
    </div>
</PostsPage>
