---
import Base from "../../components/Base.astro";
import OgImageLayout from "../../components/OgImageLayout.astro";
---

<Base>
  <link
    slot="head"
    href="https://api.fontshare.com/v2/css?f[]=satoshi@900"
    rel="stylesheet"
  />

  <OgImageLayout className="bg-emerald-600 p-20 flex items-end">
    <p class="font-[Satoshi] font-black text-white text-9xl tracking-tight">
      Classes
      <br />
      I’ve taken
      <br />
      at Tufts
    </p>
  </OgImageLayout>
</Base>
