name: Automatic daily deploy for scheduled posts

on:
  schedule:
    # 10am UTC = 5am or 6am Eastern (depending on daylight savings)
    - cron: "0 10 * * *"
  workflow_dispatch: # Allow manual trigger

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Deploy
        run: curl -X POST "https://api.vercel.com/v1/integrations/deploy/prj_d2OHBOiSssWKxDD1WiZT4QJF20Su/sky6Sak4j8"
